script
    function validateUploadForm() {
      var file = $("#file")[0];
      var name = $("#name")[0];
      var device = $("#device")[0];
      var summary = $("#summary")[0];
      if (name.value == null || name.value == "") {
        alert('Please enter a friendly name for your update.zip.');
        return false;
      }
      if (device && device.value == null || device.value == "" || device.value == "none") {
        alert('Please the target device for your update.zip.');
        return false;
      }
      if (summary.value == null || summary.value == "") {
        alert('Please enter a description for your update.zip.');
        return false;
      }
      if (file && file.value == null || file.value == "") {
        alert('Please select the update.zip to be uploaded.');
        return false;
      }
      return true;
    }
h1 ROM Manager Developer Portal
a(href="/developer") Go Back
h2 Upload Android Update.zip
- if (statusLine)
    p(class="status")= statusLine
br
br
table
    tr
        td(valign='top')
            form(method="post", id="upload", enctype=rom.filename ? "application/x-www-form-urlencoded" : "multipart/form-data", action=rom.filename ? "/developer/rom/" + rom.id : "/developer/upload", onsubmit="return validateUploadForm()")
                #container Update Name (the friendly name of your ROM, Kernel, or update.zip)
                #container
                    input(type="text", id="name", name="name", value=rom.name)
                p
                #container Device
                #container
                    - if (!rom.device)
                        select(name="device", id="device")
                            option(value='none') Please select the target device
                            - each device in devices
                                option(value=device.key)=device.name
                    - else 
                        b= rom.device
                        input(type='hidden', name='device', id='device', value=rom.device)
                p
                - if (rom.downloadUrl)
                    #container ROM Manager Visibility (use this to hide older ROMs)
                    #container
                        select(name="visible", id="visible")
                            - if (rom.visible)
                                option(value="1") Visible
                                option(value="0") Hidden
                            - else
                                option(value="0") Hidden
                                option(value="1") Visible
                p
                #container Description
                #container
                    input(type="text", id="summary", name="summary", value=rom.summary)
                p
                - if (rom.downloadUrl)
                    #container ro.modversion
                    - if (rom.modversion != null && rom.modversion != '')
                        #container=rom.modversion
                    - else
                        #container(class="error") No modversion found in the build.prop. Automatic OTA updates will not work.
                p
                - if (rom.downloadUrl)
                    #container ro.rommanager.developerid
                    - if (rom.developerIdProp == null || rom.developerIdProp == '')
                        #container(class="error")="ro.rommanager.developerid=" + rom.developerIdString
                        #container(class="error") was not found in your build.prop.
                        #container(class="error") OTA update notifications will not work.
                    - else if (rom.developerIdProp != rom.developerIdString)
                        #container(class="error") build.prop contains:
                        #container(class="error")="ro.rommanager.developerid=" + rom.developerIdProp
                        #container(class="error") But it should be (as according to your settings):
                        #container(class="error")="ro.rommanager.developerid=" + rom.developerIdString
                    - else
                        #container=rom.developerIdProp
                p
                #container Product (optional, necessary for OTA notifications)
                #container
                    input(type="text", name="product", value=rom.product)
                p
                p
                - if (!rom.downloadUrl)
                    #container update.zip file
                        #container
                            input(type="file", id="file", name="rom", value=rom.filename)
                - else
                    #container Download Link:
                    #container
                        a(href=rom.downloadUrl)= rom.filename
                p
                #container
                    input(type="submit", value=!rom.filename ? "Upload" : "Update")
        td
            img(src="/images/romlegend.jpg")
br
br
