script!="var developer=" + JSON.stringify(developer)
script
    function validateDeveloperForm() {
      var name = $("#name")[0];
      var developerId = $("#developerId")[0];
      var summary = $("#summary")[0];
      if (name.value == null || name.value == "") {
        alert('Please enter a friendly name for your developer section.');
        return false;
      }
      if (developerId && developerId.value == null || developerId.value == "") {
        alert('Please provide a unique developer id.');
        return false;
      }
      if (summary.value == null || summary.value == "") {
        alert('Please provide a description of your developer section.');
        return false;
      }
      return true;
    }

    function enableManUrlBox(isChecked){
        document.upload.manifest.style.visibility = !isChecked ? "collapse" : "visible";
        if (!isChecked)
          document.upload.manifest.value = '';
    }
    
    $(document).ready(function() {
      enableManUrlBox(developer.manifest != null);
    });

h1 ROM Manager Developer Portal
a(href="/developer") Go Back
h2 Developer Settings
- if (statusLine)
    p(class="status")= statusLine
br
br
table
    tr
        td(valign='top')
            form(method="post", name = "upload", id="upload", enctype="multipart/form-data", action="/developer/settings",onsubmit="return validateDeveloperForm()")
                #container Developer Name
                #container
                    input(type="text", id="name", name="name", value=developer.name)
                p
                #container Developer ID
                #container
                    input(type="text", id="developerId", name="developerId", value=developer.developerId)
                p
                #container Description
                #container
                    input(type="text", id="summary", name="summary", value=developer.summary)
                p
                p
                #container Homepage
                #container
                    input(type="text", id="homepage", name="homepage", value=developer.homepage)
                p
                p
                #container Donate Link
                #container
                    input(type="text", id="donate", name="donate", value=developer.donate)
                p
                p
                - if (developer.icon)
                    img(src=developer.iconUrl)
                #container Developer Icon
                    #container
                        input(type="file", id="icon", name="icon", value=developer.icon)
                p
                p
                #container Manual Manifest URL (Advanced Developers Only!)
                    input(type="checkbox", checked = developer.manifest != null, onclick="enableManUrlBox(this.checked)") 
                #container
                    input(type="text", id= "manifest", name = "manifest", value = developer.manifest)
                p
                p
                #container ROM Manager Visibility
                #container Use this to enable or disable your account. This may take a few hours
                #container to refresh.
                #container
                    select(name="visible", id="visible")
                        - if (developer.visible)
                            option(value="1") Visible
                            option(value="0") Hidden
                        - else
                            option(value="0") Hidden
                            option(value="1") Visible
                p
                p
                #container
                    input(type="submit", value="Update")
        td(valign="top")
            a(href="/images/developerlegend.jpg", class="highslide", onclick="return hs.expand(this)")
                img(src="/images/developerlegend.jpg", height=265, width=160)
br
br
